@model IEnumerable<Story.Entities.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.ActionLink("Delete", "Delete", new { id = item.GenreID })
        </td>
    </tr>
}

</table>
