@{
    ViewBag.Title = "About";
}

<hgroup class="title">
   
</hgroup>



<aside>
    
    
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Movies","Index","Movies")</li>
    
    </ul>
</aside>